* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#3b82f6, #759cff);
}

#container {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 18px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.18);
}

#search {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 4px 12px;
}

#search input {
  border: none;
  background-color: transparent;
  font-size: 100%;
  width: 100%;
  outline: none;
  font-weight: 500;
}

#search button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#weather {
  display: none;
  margin-top: 20px;
}

#weather.show {
  display: block;
}

#weather #title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: 600;
}

#temp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(90deg, #5a7cdc, #606dde);
  border-radius: 20px;
  gap: 20px;
  color: #ffff;
  padding: 10px;
}

#temp_img {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

#temp_value {
  font-weight: bold;
  font-size: 50px;
  line-height: 55px;
}

#temp_description {
  font-weight: 500;
  text-transform: capitalize;
}

#other_infos {
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#other_infos .info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 15px;
  border-radius: 8px;
  box-shadow: 0px, 0px, 5px rgba(0, 0, 0, 0.5);
  background-color: #e2e2e2;
}

#temp_max_icon {
  scale: 2;
  color: rgb(255, 35, 35);
}

#temp_min_icon {
  scale: 2;
  color: #3b82f6;
}

#alert {
  text-align: center;
}